# Node dependencies
node_modules/

# Build output
dist/
*.zip

# VS Code settings
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Optional: test results
coverage/
*.log

# Ignore dotenv or secrets if added
.env